@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
 * {
  font-family: 'Lato', sans-serif;
  }
/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a2572;
}



@layer base {
	@font-face {
    font-family: chaparral-pro;
    src: url(./assets/font/ChaparralPro-Bold.ttf);
    font-display: swap;
  }
}

.font-logo {
  font-family: chaparral-pro;
}

.bg-main {
	background: url('./assets/img/mianhole.webp');
  @apply bg-fixed

}

.bg-cont {
	background: url('./assets/img/rodzinny1.jpg');
  @apply bg-fixed bg-cover

}